# Exercise 1.01: Accessing List Members

In [10]:
import pandas as pd
ssn = list(pd.read_csv("./ssn.csv"))
print(ssn)

['218-68-9955', '165-73-3124', '432-47-4043', '563-93-1393', '153-93-3401', '670-09-7369', '123-05-9652', '812-13-2476', '726-13-1007', '825-05-4836']

In [11]:
# Access the first element of ssn using its foward index:
ssn[0]

'218-68-9955'

In [12]:
# Access the fourth element of ssn using its forward index:
ssn[3]

'563-93-1393'

In [13]:
# Access the last element of ssn using the len function
ssn[len(ssn) -1]

'825-05-4836'

In [14]:
# Access the last element of ssn using its backward index:
ssn[-1]

'825-05-4836'

In [15]:
# Access the first three elements of ssn using forward indices:
ssn[1:3]

['165-73-3124', '432-47-4043']

In [16]:
# Access the last two elements of ssn by slicing:
ssn[-2:]

['726-13-1007', '825-05-4836']

In [17]:
# Access the first two elements using backward indices:
ssn[:-2]

['218-68-9955',
 '165-73-3124',
 '432-47-4043',
 '563-93-1393',
 '153-93-3401',
 '670-09-7369',
 '123-05-9652',
 '812-13-2476']

In [18]:
# Reverse the elements in the list:
ssn[-1::-1]

['825-05-4836',
 '726-13-1007',
 '812-13-2476',
 '123-05-9652',
 '670-09-7369',
 '153-93-3401',
 '563-93-1393',
 '432-47-4043',
 '165-73-3124',
 '218-68-9955']

# Exercise 1.02: Generating and Iterating through a List

In [19]:
# Create a list using the append method
ssn_2 = []
for x in ssn:
    ssn_2.append(x)
ssn_2

['218-68-9955',
 '165-73-3124',
 '432-47-4043',
 '563-93-1393',
 '153-93-3401',
 '670-09-7369',
 '123-05-9652',
 '812-13-2476',
 '726-13-1007',
 '825-05-4836']

In [20]:
# Generate a list using list comprehension
ssn_3 = ["soc: " + x for x in ssn_2]
ssn_3

['soc: 218-68-9955',
 'soc: 165-73-3124',
 'soc: 432-47-4043',
 'soc: 563-93-1393',
 'soc: 153-93-3401',
 'soc: 670-09-7369',
 'soc: 123-05-9652',
 'soc: 812-13-2476',
 'soc: 726-13-1007',
 'soc: 825-05-4836']

In [21]:
# Using a while loop
i = 0
while i < len(ssn_3):
    print(ssn_3[i])
    i += 1

soc: 218-68-9955
soc: 165-73-3124
soc: 432-47-4043
soc: 563-93-1393
soc: 153-93-3401
soc: 670-09-7369
soc: 123-05-9652
soc: 812-13-2476
soc: 726-13-1007
soc: 825-05-4836

In [22]:
# Search all ssn with the number 5 in them
numbers = [x for x in ssn_3 if "5" in x]
numbers

['soc: 218-68-9955',
 'soc: 165-73-3124',
 'soc: 563-93-1393',
 'soc: 153-93-3401',
 'soc: 123-05-9652',
 'soc: 825-05-4836']

In [23]:
# using the `+` operator to add contents of two lists
ssn_4 = ["102-90-0314", "247-17-2338", "318-22-2760"]
ssn_5 = ssn_4 + ssn
ssn_5

['102-90-0314',
 '247-17-2338',
 '318-22-2760',
 '218-68-9955',
 '165-73-3124',
 '432-47-4043',
 '563-93-1393',
 '153-93-3401',
 '670-09-7369',
 '123-05-9652',
 '812-13-2476',
 '726-13-1007',
 '825-05-4836']

In [24]:
# Use `extend` keyword
ssn_2.extend(ssn_4)
ssn_2

['218-68-9955',
 '165-73-3124',
 '432-47-4043',
 '563-93-1393',
 '153-93-3401',
 '670-09-7369',
 '123-05-9652',
 '812-13-2476',
 '726-13-1007',
 '825-05-4836',
 '102-90-0314',
 '247-17-2338',
 '318-22-2760']

In [25]:
# Loop over the first list and create a nested list inside that list
for x in ssn_2:
    for y in ssn_5:
        print(str(x) + ' , ' + str(y))

218-68-9955 , 102-90-0314
218-68-9955 , 247-17-2338
218-68-9955 , 318-22-2760
218-68-9955 , 218-68-9955
218-68-9955 , 165-73-3124
218-68-9955 , 432-47-4043
218-68-9955 , 563-93-1393
218-68-9955 , 153-93-3401
218-68-9955 , 670-09-7369
218-68-9955 , 123-05-9652
218-68-9955 , 812-13-2476
218-68-9955 , 726-13-1007
218-68-9955 , 825-05-4836
165-73-3124 , 102-90-0314
165-73-3124 , 247-17-2338
165-73-3124 , 318-22-2760
165-73-3124 , 218-68-9955
165-73-3124 , 165-73-3124
165-73-3124 , 432-47-4043
165-73-3124 , 563-93-1393
165-73-3124 , 153-93-3401
165-73-3124 , 670-09-7369
165-73-3124 , 123-05-9652
165-73-3124 , 812-13-2476
165-73-3124 , 726-13-1007
165-73-3124 , 825-05-4836
432-47-4043 , 102-90-0314
432-47-4043 , 247-17-2338
432-47-4043 , 318-22-2760
432-47-4043 , 218-68-9955
432-47-4043 , 165-73-3124
432-47-4043 , 432-47-4043
432-47-4043 , 563-93-1393
432-47-4043 , 153-93-3401
432-47-4043 , 670-09-7369
432-47-4043 , 123-05-9652
432-47-4043 , 812-13-2476
432-47-4043 , 726-13-1007
432-47-4043 , 825-05-4836
563-93-1393 , 102-90-0314
563-93-1393 , 247-17-2338
563-93-1393 , 318-22-2760
563-93-1393 , 218-68-9955
563-93-1393 , 165-73-3124
563-93-1393 , 432-47-4043
563-93-1393 , 563-93-1393
563-93-1393 , 153-93-3401
563-93-1393 , 670-09-7369
563-93-1393 , 123-05-9652
563-93-1393 , 812-13-2476
563-93-1393 , 726-13-1007
563-93-1393 , 825-05-4836
153-93-3401 , 102-90-0314
153-93-3401 , 247-17-2338
153-93-3401 , 318-22-2760
153-93-3401 , 218-68-9955
153-93-3401 , 165-73-3124
153-93-3401 , 432-47-4043
153-93-3401 , 563-93-1393
153-93-3401 , 153-93-3401
153-93-3401 , 670-09-7369
153-93-3401 , 123-05-9652
153-93-3401 , 812-13-2476
153-93-3401 , 726-13-1007
153-93-3401 , 825-05-4836
670-09-7369 , 102-90-0314
670-09-7369 , 247-17-2338
670-09-7369 , 318-22-2760
670-09-7369 , 218-68-9955
670-09-7369 , 165-73-3124
670-09-7369 , 432-47-4043
670-09-7369 , 563-93-1393
670-09-7369 , 153-93-3401
670-09-7369 , 670-09-7369
670-09-7369 , 123-05-9652
670-09-7369 , 812-13-2476
670-09-7369 , 726-13-1007
670-09-7369 , 825-05-4836
123-05-9652 , 102-90-0314
123-05-9652 , 247-17-2338
123-05-9652 , 318-22-2760
123-05-9652 , 218-68-9955
123-05-9652 , 165-73-3124
123-05-9652 , 432-47-4043
123-05-9652 , 563-93-1393
123-05-9652 , 153-93-3401
123-05-9652 , 670-09-7369
123-05-9652 , 123-05-9652
123-05-9652 , 812-13-2476
123-05-9652 , 726-13-1007
123-05-9652 , 825-05-4836
812-13-2476 , 102-90-0314
812-13-2476 , 247-17-2338
812-13-2476 , 318-22-2760
812-13-2476 , 218-68-9955
812-13-2476 , 165-73-3124
812-13-2476 , 432-47-4043
812-13-2476 , 563-93-1393
812-13-2476 , 153-93-3401
812-13-2476 , 670-09-7369
812-13-2476 , 123-05-9652
812-13-2476 , 812-13-2476
812-13-2476 , 726-13-1007
812-13-2476 , 825-05-4836
726-13-1007 , 102-90-0314
726-13-1007 , 247-17-2338
726-13-1007 , 318-22-2760
726-13-1007 , 218-68-9955
726-13-1007 , 165-73-3124
726-13-1007 , 432-47-4043
726-13-1007 , 563-93-1393
726-13-1007 , 153-93-3401
726-13-1007 , 670-09-7369
726-13-1007 , 123-05-9652
726-13-1007 , 812-13-2476
726-13-1007 , 726-13-1007
726-13-1007 , 825-05-4836
825-05-4836 , 102-90-0314
825-05-4836 , 247-17-2338
825-05-4836 , 318-22-2760
825-05-4836 , 218-68-9955
825-05-4836 , 165-73-3124
825-05-4836 , 432-47-4043
825-05-4836 , 563-93-1393
825-05-4836 , 153-93-3401
825-05-4836 , 670-09-7369
825-05-4836 , 123-05-9652
825-05-4836 , 812-13-2476
825-05-4836 , 726-13-1007
825-05-4836 , 825-05-4836
102-90-0314 , 102-90-0314
102-90-0314 , 247-17-2338
102-90-0314 , 318-22-2760
102-90-0314 , 218-68-9955
102-90-0314 , 165-73-3124
102-90-0314 , 432-47-4043
102-90-0314 , 563-93-1393
102-90-0314 , 153-93-3401
102-90-0314 , 670-09-7369
102-90-0314 , 123-05-9652
102-90-0314 , 812-13-2476
102-90-0314 , 726-13-1007
102-90-0314 , 825-05-4836
247-17-2338 , 102-90-0314
247-17-2338 , 247-17-2338
247-17-2338 , 318-22-2760
247-17-2338 , 218-68-9955
247-17-2338 , 165-73-3124
247-17-2338 , 432-47-4043
247-17-2338 , 563-93-1393
247-17-2338 , 153-93-3401
247-17-2338 , 670-09-7369
247-17-2338 , 123-05-9652
247-17-2338 , 812-13-2476
247-17-2338 , 726-13-1007
247-17-2338 , 825-05-4836
318-22-2760 , 102-90-0314
318-22-2760 , 247-17-2338
318-22-2760 , 318-22-2760
318-22-2760 , 218-68-9955
318-22-2760 , 165-73-3124
318-22-2760 , 432-47-4043
318-22-2760 , 563-93-1393
318-22-2760 , 153-93-3401
318-22-2760 , 670-09-7369
318-22-2760 , 123-05-9652
318-22-2760 , 812-13-2476
318-22-2760 , 726-13-1007
318-22-2760 , 825-05-4836

# Exercise 1.03: Iterating over a List and Checking Membership

In [26]:
car_models = list(pd.read_csv("./car_models.csv"))
car_models

['Escalade',
 ' X5 M',
 ' D150',
 ' Camaro',
 ' F350',
 ' Aurora',
 ' S8',
 ' E350',
 ' Tiburon',
 ' F-Series Super Duty']

In [27]:
# Iterate over a list non-Pythonic
list_1 = [x for x in car_models]
for i in range(0, len(list_1)):
    print(list_1[i])

Escalade
 X5 M
 D150
 Camaro
 F350
 Aurora
 S8
 E350
 Tiburon
 F-Series Super Duty

In [28]:
# Iterate over same list Pythonic
for i in list_1:
    print(i)

Escalade
 X5 M
 D150
 Camaro
 F350
 Aurora
 S8
 E350
 Tiburon
 F-Series Super Duty

In [29]:
# Check for existing string value 1
"D150" in list_1

False

In [30]:
# Check for existing string value 2
"Mustang" in list_1

False

# Exercise 1.04: Sorting a list

In [31]:
# Use the sort method with reverse=True
list_1 = [*range(0, 21, 1)]
list_1.sort(reverse=True)
list_1

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [32]:
# Use the reverse method directly
list_1.reverse()
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Exercise 1.05: Generating a Random List

In [33]:
import random

In [34]:
list_1 = [random.randint(0, 30) for x in range(0, 100)]

In [35]:
list_1

[3,
 30,
 16,
 22,
 22,
 25,
 23,
 27,
 1,
 21,
 0,
 20,
 3,
 23,
 15,
 15,
 11,
 15,
 0,
 28,
 13,
 2,
 6,
 6,
 12,
 3,
 1,
 17,
 17,
 15,
 8,
 23,
 23,
 8,
 15,
 9,
 13,
 18,
 23,
 7,
 11,
 22,
 16,
 29,
 2,
 6,
 30,
 21,
 12,
 23,
 21,
 9,
 24,
 7,
 0,
 29,
 10,
 11,
 0,
 24,
 25,
 3,
 24,
 13,
 15,
 11,
 2,
 24,
 28,
 3,
 20,
 5,
 17,
 19,
 26,
 26,
 0,
 22,
 18,
 21,
 12,
 28,
 5,
 14,
 26,
 4,
 6,
 14,
 22,
 4,
 2,
 27,
 29,
 6,
 2,
 20,
 15,
 15,
 5,
 22]

In [36]:
# Finding the square of each element
list_2 = [x**2 for x in list_1]
list_2

[9,
 900,
 256,
 484,
 484,
 625,
 529,
 729,
 1,
 441,
 0,
 400,
 9,
 529,
 225,
 225,
 121,
 225,
 0,
 784,
 169,
 4,
 36,
 36,
 144,
 9,
 1,
 289,
 289,
 225,
 64,
 529,
 529,
 64,
 225,
 81,
 169,
 324,
 529,
 49,
 121,
 484,
 256,
 841,
 4,
 36,
 900,
 441,
 144,
 529,
 441,
 81,
 576,
 49,
 0,
 841,
 100,
 121,
 0,
 576,
 625,
 9,
 576,
 169,
 225,
 121,
 4,
 576,
 784,
 9,
 400,
 25,
 289,
 361,
 676,
 676,
 0,
 484,
 324,
 441,
 144,
 784,
 25,
 196,
 676,
 16,
 36,
 196,
 484,
 16,
 4,
 729,
 841,
 36,
 4,
 400,
 225,
 225,
 25,
 484]

In [37]:
# Finding the log of the 1 elements of list_2
import math
list_2 = [math.log(x+1,10) for x in list_2]
list_2

[1.0,
 2.9547247909790624,
 2.4099331233312946,
 2.6857417386022635,
 2.6857417386022635,
 2.796574333210429,
 2.7242758696007887,
 2.8633228601204554,
 0.30102999566398114,
 2.6454222693490914,
 0.0,
 2.603144372620182,
 1.0,
 2.7242758696007887,
 2.3541084391474008,
 2.3541084391474008,
 2.086359830674748,
 2.3541084391474008,
 0.0,
 2.8948696567452523,
 2.2304489213782737,
 0.6989700043360187,
 1.5682017240669948,
 1.5682017240669948,
 2.1613680022349744,
 1.0,
 0.30102999566398114,
 2.4623979978989556,
 2.4623979978989556,
 2.3541084391474008,
 1.8129133566428552,
 2.7242758696007887,
 2.7242758696007887,
 1.8129133566428552,
 2.3541084391474008,
 1.9138138523837167,
 2.2304489213782737,
 2.511883360978874,
 2.7242758696007887,
 1.6989700043360185,
 2.086359830674748,
 2.6857417386022635,
 2.4099331233312946,
 2.925312091499649,
 0.6989700043360187,
 1.5682017240669948,
 2.9547247909790624,
 2.6454222693490914,
 2.1613680022349744,
 2.7242758696007887,
 2.6454222693490914,
 1.9138138523837167,
 2.7611758131557314,
 1.6989700043360185,
 0.0,
 2.925312091499649,
 2.0043213737826426,
 2.086359830674748,
 0.0,
 2.7611758131557314,
 2.796574333210429,
 1.0,
 2.7611758131557314,
 2.2304489213782737,
 2.3541084391474008,
 2.086359830674748,
 0.6989700043360187,
 2.7611758131557314,
 2.8948696567452523,
 1.0,
 2.603144372620182,
 1.414973347970818,
 2.4623979978989556,
 2.558708570533166,
 2.8305886686851442,
 2.8305886686851442,
 0.0,
 2.6857417386022635,
 2.511883360978874,
 2.6454222693490914,
 2.1613680022349744,
 2.8948696567452523,
 1.414973347970818,
 2.294466226161593,
 2.8305886686851442,
 1.2304489213782739,
 1.5682017240669948,
 2.294466226161593,
 2.6857417386022635,
 1.2304489213782739,
 0.6989700043360187,
 2.8633228601204554,
 2.925312091499649,
 1.5682017240669948,
 0.6989700043360187,
 2.603144372620182,
 2.3541084391474008,
 2.3541084391474008,
 1.414973347970818,
 2.6857417386022635]

# Activity 1.01: Handling Lists

In [38]:
# import the random library
import random
# use the randint method to create 100 random numbers
random_int_list = [random.randint(0, 100) for x in range(0, 100)]
# print out the list
random_int_list

[63,
 85,
 63,
 68,
 74,
 90,
 10,
 36,
 14,
 86,
 63,
 32,
 15,
 75,
 49,
 27,
 36,
 46,
 34,
 92,
 67,
 28,
 65,
 29,
 72,
 10,
 59,
 4,
 68,
 91,
 73,
 98,
 89,
 91,
 98,
 94,
 97,
 10,
 43,
 37,
 37,
 39,
 27,
 55,
 39,
 33,
 4,
 81,
 57,
 99,
 38,
 68,
 94,
 62,
 21,
 57,
 71,
 93,
 60,
 75,
 34,
 91,
 47,
 74,
 69,
 14,
 5,
 92,
 73,
 42,
 32,
 26,
 57,
 52,
 88,
 82,
 19,
 15,
 0,
 7,
 69,
 24,
 84,
 91,
 41,
 94,
 39,
 89,
 0,
 48,
 97,
 44,
 50,
 99,
 85,
 74,
 52,
 31,
 8,
 83]

In [39]:
# create a list from random_int_list with ints divisible by 3
list_divisible_by_3 = [a for a in random_int_list if a % 3 == 0]
list_divisible_by_3

[63,
 63,
 90,
 36,
 63,
 15,
 75,
 27,
 36,
 72,
 39,
 27,
 39,
 33,
 81,
 57,
 99,
 21,
 57,
 93,
 60,
 75,
 69,
 42,
 57,
 15,
 0,
 69,
 24,
 84,
 39,
 0,
 48,
 99]

In [40]:
# use the len function to measure the lenght of the first list and teh second list
length_of_random_int_list = len(random_int_list)
length_of_divisible_by_3_list = len(list_divisible_by_3)
# store them in two different variables
difference = length_of_random_int_list - length_of_divisible_by_3_list
# calculate the difference in length
difference

66

In [41]:
# combine the tasks used so far in a for loop
EXPERIMENTS = 10
difference_list = []
for i in range(0, EXPERIMENTS):
    random_number_list = [random.randint(0, 100) for x in range(0, 100)]
    list_divisible_by_3 = [a for a in random_number_list if a % 3 == 0]
    
    length_of_random_list = len(random_number_list)
    length_of_3_divisible_list = len(list_divisible_by_3)
    difference = length_of_random_list - length_of_3_divisible_list
    difference_list.append(difference)
    
difference_list

[63, 66, 69, 73, 69, 66, 70, 61, 67, 68]

In [42]:
# calculate the arithmetic mean(common average) for the differences in the length
avg_diff = sum(difference_list) / float(len(difference_list))
avg_diff

67.2

# Introduction to Sets

In [43]:
list_12 = list(set(list_1))

In [44]:
list_12

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [46]:
# create two sets
set1 = {"Apple", "Orange", "Banana"}
set2 = {"Pear", "Peach", "Mango", "Banana"}

In [47]:
# find the union of two sets
set1 | set2

{'Apple', 'Banana', 'Mango', 'Orange', 'Peach', 'Pear'}

In [48]:
# get the intersection of two sets
set1 & set2

{'Banana'}

# Creating Null Sets

In [49]:
# create a null set
null_set_1 = set({})
null_set_1

set()

In [50]:
# create a null dictionary
null_set_2 = {}
null_set_2

{}

# Dictionary

In [52]:
# creating a dictionary
dict_1 = {"key1": "value1", "key2": "value2"}
dict_1

{'key1': 'value1', 'key2': 'value2'}

In [53]:
# another dictionar example
dict_2 = {"key1": 1, "key2": ["list_element1", 34], 
          "key3": "value3", "key4": {"subkey": "v1"}, 
          "key5": 4.5}
dict_2

{'key1': 1,
 'key2': ['list_element1', 34],
 'key3': 'value3',
 'key4': {'subkey': 'v1'},
 'key5': 4.5}

# Exercise1.06: Accessing and Setting Values in a Dictionary

In [56]:
# access a value in a dictionary by providing the key,
# keep in mind there is no given order in a dictionary
stocks = {"Solar Capital Ltd": "$920.44", "Zoe's Kitchen, Inc.": "$262.32M", "Toyota Motor Corp Ltd Ord": "$156.02B", 
         "Nuveen Virginia Quality Municipal Income Fund": "$238.33M", "Kinross Gold Corporation": "$5.1B",
         "Vulcan Materials Company": "$17.1B", "Hi-Crush Partners LP": "$955.69M", "Lennox International, Inc.": "$8.05B",
         "WMIH Corp.": "$247.66M", "Comerica Incorporated": "n/a"}

In [57]:
# print a particular element from the list
stocks["WMIH Corp."]

'$247.66M'

In [58]:
# set a value using the same method as above
stocks["WMIH Copr."] = "$300M"

In [59]:
# define a blank(empty) dictionary and use key notation to assign values
dict_3 = {} # Not a null set, it is a dictionary
dict_3["key1"] = "Value1"
dict_3

{'key1': 'Value1'}

In [61]:
# remove the `$` from the dictionary
for key,val in stocks.items():
    stocks[key] = val.replace('$', '')
stocks

{'Solar Capital Ltd': '920.44',
 "Zoe's Kitchen, Inc.": '262.32M',
 'Toyota Motor Corp Ltd Ord': '156.02B',
 'Nuveen Virginia Quality Municipal Income Fund': '238.33M',
 'Kinross Gold Corporation': '5.1B',
 'Vulcan Materials Company': '17.1B',
 'Hi-Crush Partners LP': '955.69M',
 'Lennox International, Inc.': '8.05B',
 'WMIH Corp.': '247.66M',
 'Comerica Incorporated': 'n/a',
 'WMIH Copr.': '300M'}

In [62]:
# iterate over stocks dictionary again and split the value into a list
# with price (val) and multiplier (mult) as separate elements whee
# a single value is assigned to each key
for key, val in stocks.items():
    mult = val[-1]
    stocks[key] = [val[:-1], mult]
stocks

{'Solar Capital Ltd': ['920.4', '4'],
 "Zoe's Kitchen, Inc.": ['262.32', 'M'],
 'Toyota Motor Corp Ltd Ord': ['156.02', 'B'],
 'Nuveen Virginia Quality Municipal Income Fund': ['238.33', 'M'],
 'Kinross Gold Corporation': ['5.1', 'B'],
 'Vulcan Materials Company': ['17.1', 'B'],
 'Hi-Crush Partners LP': ['955.69', 'M'],
 'Lennox International, Inc.': ['8.05', 'B'],
 'WMIH Corp.': ['247.66', 'M'],
 'Comerica Incorporated': ['n/', 'a'],
 'WMIH Copr.': ['300', 'M']}

# Exercise 1.08: Revisiting the Unique Valued List Problem

In [66]:
# generate a list with duplicate values
import random
list_13 = [random.randint(0, 30) for x in range (0, 100)]

In [68]:
# create a unique valued list form list_13
list(dict.fromkeys(list_13).keys())

[23,
 4,
 17,
 29,
 7,
 16,
 9,
 5,
 11,
 30,
 27,
 20,
 3,
 21,
 14,
 8,
 25,
 12,
 0,
 13,
 18,
 15,
 28,
 1,
 26,
 24,
 19,
 6,
 22,
 2,
 10]

# Exercise 1.09: Deleting a Value from Dict

In [73]:
# create dict_4 with five elements
dict_4 = {"key1": 1, "key2": ["list_element1", 34], \
          "key3": "value3", "key4": {"subkey1": "v1"}, \
          "key5": 4.5}
dict_4

{'key1': 1,
 'key2': ['list_element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

In [74]:
del dict_4["key2"]
dict_4

{'key1': 1, 'key3': 'value3', 'key4': {'subkey1': 'v1'}, 'key5': 4.5}

In [75]:
del dict_4["key3"]
del dict_4["key4"]

In [76]:
dict_4

{'key1': 1, 'key5': 4.5}

# Exercise 1.10: Dictionary Comprehension

In [78]:
# generate a dict that has 0 - 9 as the keys and the square of the key as values
list_15 = [x for x in range(0, 10)]
dict_5 = {x : x**2 for x in list_1}
dict_5

{3: 9,
 30: 900,
 16: 256,
 22: 484,
 25: 625,
 23: 529,
 27: 729,
 1: 1,
 21: 441,
 0: 0,
 20: 400,
 15: 225,
 11: 121,
 28: 784,
 13: 169,
 2: 4,
 6: 36,
 12: 144,
 17: 289,
 8: 64,
 9: 81,
 18: 324,
 7: 49,
 29: 841,
 24: 576,
 10: 100,
 5: 25,
 19: 361,
 26: 676,
 14: 196,
 4: 16}

In [80]:
# generate a dictionary using the dict function
dict_6 = dict([('Tom', 100), ('Dick', 200), ('Harry', 300)])
dict_6

{'Tom': 100, 'Dick': 200, 'Harry': 300}

In [81]:
# you can also create a dictionary using the dict function as follows:
dict_7 = dict(Tom=100, Dick=200, Harry=300)
dict_7

{'Tom': 100, 'Dick': 200, 'Harry': 300}

# Tuples

In [82]:
# example tuple
tuple_1 = 24, 42, 2.3456, "Hello"

# Creating a Tuple with Different Cardinalities

In [83]:
# creating an empty tuple
tuple_1 = ()

In [85]:
# creating a tuple with only one value
tuple_1 = "Hello", # <- you must have the trailing comma

In [86]:
# nest tuples, similar to lists and dicts
tuple_1 = "hello", "there"
tuple_12 = tuple_1, 45, "Sam"

In [87]:
# tuples are immutable, you are not able to change their values
# only access them
tuple_1 = "Hello", "World!"
tuple_1[1] = "Universe!"

TypeError: 'tuple' object does not support item assignment

In [88]:
# access the elements ofa  tuple similar to lists
tuple_1 = ("good", "morning!", "how", "are", "you?")
tuple_1[0]

'good'

In [89]:
# access another element
tuple_1[4]

'you?'

# Unpacking a Tuple

In [91]:
# unpacking a tuple simply means getting the values contained in the tuple in different variables
tuple_1 = "Hello", "World"
hello, world = tuple_1
print(hello)
print(world)
# we can now modify the values of the variables in any way we like

Hello
World

# Exercise 1.11: Handling Tuples

In [92]:
# create a tuple to demonstrate how tupels are immutable
# unpack it to read all the elements
tupleE = "1", "3", "5"
tupleE

('1', '3', '5')

In [93]:
tupleE[1] = "5" # results in a TypeError

TypeError: 'tuple' object does not support item assignment

In [94]:
# try to assign a series to the tuple
1, 3, 5 = tupleE # results in a SyntaxError

SyntaxError: cannot assign to literal (<ipython-input-94-5f74113d4cba>, line 2)

In [95]:
# print variables at 0th and 1st positions
print(tupleE[0])
print(tupleE[1])

1
3

# Strings

In [98]:
# example of a string
string1 = 'Hello World!'

In [99]:
# also this can declare a string
string2 = "Hello World 2!"

# Exercise 1.12: Accessing Strings

In [100]:
# create a string called str_1
str_1 = "Hello World!"
str_1

'Hello World!'

In [101]:
# access the first member of the string
str_1[0]

'H'

In [102]:
# access the fifth element of the string
str_1[4]

'o'

In [103]:
# access the last member of the string
str_1[len(str_1) - 1]

'!'

In [104]:
# another way to access the last member of a string
str_1[-1]

'!'

# Exercise 1.13: String Slices

In [105]:
# create a string
str_1 = "Hello World! I am learning data wrangling"
str_1

'Hello World! I am learning data wrangling'

In [106]:
# specify slicing values and slice the string
str_1[2:10]

'llo Worl'

In [107]:
# slice a string by skipping a slice value
str_1[-31:]

'd! I am learning data wrangling'

In [108]:
# use negative numbers to slice the string
str_1[-10:-5]

' wran'

# String Functions

In [110]:
# find the length of a string
str_1 = "Hello World! I am learning data wrangling"
len(str_1)

41

In [111]:
# change the case of the string to lower
str_1 = "A COMPLETE UPPER CASE STRING"
str_1.lower()

'a complete upper case string'

In [112]:
# back to upper
str_1.upper()

'A COMPLETE UPPER CASE STRING'

In [114]:
# search for a string within a string using find
str_1 = "A complicated string looks like this"
str_1.find("complicated")
str_1.find("hello")

-1

In [115]:
# the replace method will return a new string since strings are immutable
str_1 = "A complicated string looks like this"
str_1.replace("complicated", "simple")

'A simple string looks like this'

# Exercise 1.14: Splitting and Joining a String